.App {
  text-align: center;
  
}


.Segment {
  padding-top: 20px;
  position: absolute;
  height: 70%;
}

.particles{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
}

.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
  margin-bottom: 3%
}