.App {
  text-align: center;
}

.Name {
  margin-left: auto;
  margin-right: auto; 
  font-family: 'Press Start 2P', cursive;
  margin-top: 50vh;
  font-size: 10vh;
}

.Name header {
  font-family: 'Press Start 2P', cursive;
}

.myName{
  font-size: 300vh;
  color: white;
}

.first {
    background: red;
    min-height: 90vh;
    font-family: 'Press Start 2P', cursive;
    background-size: 195vh;
    width:100%;
    height: 100%;
}

.second {
  font-family: 'Press Start 2P', cursive;
  background: white;
   height: 85vh;
}

.third {
  background: slateblue;
   height: 85vh;
}

.fourth{
  background: slategray;
  height: 85vh;
}

.fifth{
  background: magenta;
   height: 85vh;
}


.Segment {
  padding-top: 20px;
  position: absolute;
  height: 70%;
}


.profile{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}